<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <title>Cars and Cats</title>
    </head>
    <body>
        <h1>Cool Cars!</h1>
        <img class="cars" src="images/car1.jpg" alt="car1"> 
        <img class="cars" src="images/car2.jpg" alt="car2">
        <img class="cars" src="images/car3.jpg" alt="car3">
        <img class="cars" src="images/car4.jpg" alt="car4">
    </body>
</html>